@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is Fiszki game website. Use it to improve your english language skilla and memorizing. 
    Only admin can add new words to database so if u want some write e-mail to admin. </p>
<p>admin email: nazwa@gmail.com</p>
<p>If you want to save your score in ranking database you have to have account. So don't wait and register new account.</p>